APP_NAME=bpo-platform-api
APP_VERSION=0.1.0
ENVIRONMENT=development

SQLSERVER_SERVER=tu-servidor.database.windows.net
SQLSERVER_DATABASE=nombre_bd
SQLSERVER_USER=usuario_sql
SQLSERVER_PASSWORD=********